@font-face {
  font-family: "self-ttf";
  src: url("asset/Roboto-Regular.ttf");
}

* {
	margin: 0 0 0 0;
	font-family: "self-ttf";
	box-sizing:  border-box;
}


.navigator {
	background: rgb(245, 248, 250);
	height: 100%;
	width: 240px;
	font-size: 18px;
	position: fixed;
	top: 63px;
	padding-top: 25px;
	float: left;
	box-shadow: 0px 3px 3px gray;
}

.navigator ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
	position: relative;
	/*right: 10px;*/
}

.navigator li {
	height: 35px;
}

.navigator li a {
	text-decoration: none;
	color: gray;
}

.navigator li a:hover {
	text-decoration: none;
	color: black;
}

.index-wrapper {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding-top: 80px;
}

.wrapper {
	width: 900px;
	margin-left: 350px;
	margin-bottom: 10px;
	padding-top: 80px;
}

.index-h1 {
	width: 100%;
	padding-top: 5px;
	height: 60px;
	margin-top: 0;
	/*background: rgb(49, 64, 137);*/
	background: linear-gradient(135deg, #1673FB, #0F5CEE);
	/*background: #1673FB;*/
	color: white;
	text-align: center;
	position: fixed;
	box-shadow: 0px 3px 3px gray;
}


h1 {
	width: 100%;
	margin-top: 0;
	font-size: 38px;
	/*background: rgb(49, 64, 137);*/
	background: linear-gradient(135deg, #1673FB, #0F5CEE);
	/*background: #1673FB;*/
	color: white;
	text-align: center;
	position: fixed;
	box-shadow: 0px 3px 3px gray;
}

h1 img {
	float: left;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 23px;
}

p {
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 30px;
	font-size: 18px;
}

.code-block {
	border: solid 1px #ddd;
	/*background: #f7f7f7;*/
	background: #fff;
}

.line-no-block {
	float: left;
	border-right: 1px solid black;
	margin-right: 10px;
	margin-left: 10px;
}

.mid-551 {
	width: 551px;
	margin-left: auto;
	margin-right: auto;
}

.mid-ray-tracing {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	opacity: 0.2; 
	transition: all 1s ease-out;
}

.mid-ray-tracing:hover {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	opacity: 1; 
	transition: all 1s ease-out;
}


body {
	background: #efefef;
}

.wrapper img {
	box-shadow: 3px 3px 3px gray;
	display: block;
	margin-left: auto;
	margin-right: auto;
}