* {
	margin: 0 0 0 0;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.navigator {
	font-size: 25px;
	margin-top: 50px;
}

.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;

}
.custom-counter li a {
	text-decoration: none;
	color: black;
}
.custom-counter li::before {
    content: counter(step-counter);
    transition: all 0.3s ease-out;
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.custom-counter li:hover::before {
    content: counter(step-counter);
    transition: all 0.5s ease-out;
    margin-right: 5px;
    font-size: 80%;
    background-color: #1565C0;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.wrapper {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding-top: 50px;
}

h1 {
	width: 100%;
	margin-top: 0;
	background: #1565C0;
	color: white;
	text-align: center;
	position: fixed;
	padding-bottom: 5px;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.code-block {
	background: #E3F2FD;
}

.line-no-block {
	float: left;
	border-right: 1px solid black;
	margin-right: 10px;
	margin-left: 10px;
}

.bottom-jump {
	margin-top: 10px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.bottom-jump .contents {
	margin-left: 40px;
	margin-right: 40px;
}


.mid-551 {
	width: 551px;
	margin-left: auto;
	margin-right: auto;
}

.mid-ray-tracing {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	opacity: 0.5; 
}

.mid-ray-tracing:hover {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	opacity: 1; 
	transition: all 1s ease-out;
}

.download {
}